<?xml version="1.0"?>

<launch>
    <node pkg="pursuit_in_sand" type="pursuit_ros_first.py" name="tracking_robot_1" output="screen"/>
    <node pkg="pursuit_in_sand" type="pursuit_ros_second.py" name="following_robot_1" output="screen"/>
    <!-- <node pkg="pursuit_in_sand" type="pursuit_ros_overall.py" name="overall_controller" output="screen"/> -->
</launch>
